<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
    <div id="footer">
        <div class="ui container">
            <div class="ui stackable two columns grid">
                <div class="column">
                    <div class="ui two columns grid">
                        <div class="column">
                            <h3>项目介绍</h3>
                            在线考试系统是一个在线测试学习系统，并用于辅助课程教学和学生学习。
                        </div>
                        <div class="column">
                            <h3>联系我们</h3>
                            如有问题请发邮件到
                            tree@ctgu.edu.cn
                        </div>
                    </div>
                </div>
                <div class="right aligned column">
                    &copy; 2019 CTGU All Rights Reserved &nbsp;&nbsp;
                    <br />
                    网站版本：<a href="#">v1.0.0 Beta #20191224</a>&nbsp;&nbsp;
                    服务器时间：<span id="current_server_timer"></span>
                    <br />
                    站长统计 | 今日IP[91] | 今日PV[4511] | 昨日IP[133] | 昨日PV[10109] | 当前在线[1]
<!--                    <span id='cnzz_stat_icon_1261763113'></span>-->
<!--                    <script th:src='@{//s95.cnzz.com/stat.php?id=1261763113&amp;online=1&amp;show=line}' type='text/javascript'></script>-->
                </div>
            </div>
        </div>
    </div>
</footer>

</html>