<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ctgu.dao.SyllabusMapper" >
  <resultMap id="BaseResultMap" type="com.ctgu.model.Syllabus" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="subject_id" property="subjectId" jdbcType="INTEGER" />
    <result column="syllabus_url" property="syllabusUrl" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, subject_id, syllabus_url, create_time, update_time
  </sql>

  <update id="updateBySubjectId" parameterType="com.ctgu.model.Syllabus" >
    update t_penguin_syllabus
    set
      syllabus_url = #{syllabus.syllabusUrl},
      update_time = now()
    where subject_id = #{syllabus.subjectId}
  </update>
  <select id="selectBySubjectId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from t_penguin_syllabus
    where id = #{subjectId,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_penguin_syllabus
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_penguin_syllabus
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ctgu.model.Syllabus" >
    insert into t_penguin_syllabus (subject_id, syllabus_url,
      create_time, update_time)
    values (#{subjectId,jdbcType=INTEGER}, #{syllabusUrl,jdbcType=VARCHAR},
      now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.ctgu.model.Syllabus" >
    insert into t_penguin_syllabus
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="subjectId != null" >
        subject_id,
      </if>
      <if test="syllabusUrl != null" >
        syllabus_url,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="subjectId != null" >
        #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="syllabusUrl != null" >
        #{syllabusUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ctgu.model.Syllabus" >
    update t_penguin_syllabus
    <set >
      <if test="subjectId != null" >
        subject_id = #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="syllabusUrl != null" >
        syllabus_url = #{syllabusUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ctgu.model.Syllabus" >
    update t_penguin_syllabus
    set subject_id = #{subjectId,jdbcType=INTEGER},
      syllabus_url = #{syllabusUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>